@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300;700&display=swap');
*{
    font-family: 'M PLUS 1 Code', sans-serif;
}
body {

    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #00326B;
}.dot {
     height: 25px;
     width: 25px;
     background-color: #bbb;
     border-radius: 50%;
 }
.dotTwo {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    margin-left: 0px;
    margin-top: -37px;
}
button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#monthDisplay {
    display: inline-block;
    
}

#header {
    width: 1000px;
padding-top: 10px;
    color: #A9DCFF;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
    position: absolute;
    top: 0;
    margin: auto;
}

#header button {
    background-color: #92a1d1;
}

#container {
    width: 770px;
    height: min-content;
    background-color: #003C7F;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;

}

#backButton {
    border-radius: 50%;
    width: 30px;
    height: 30px;

}
#nextButton {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 40px;
}
#yearDisplay {
    padding-right: 80px;
}
#weekdays {
    width: 100%;
    display: flex;
    color: #A9DCFF;
}
#weekdays div {
    width: 100px;
    padding: 10px;

}
#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#hold{
 position: relative;
    padding-left: 20px;
    margin: 20px 0;
    word-break: break-word;
    display: flow-root;
}
.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #004082;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.1s ease-in-out;
    text-align: center;
}
.day.active {
    background-color: #004893;
    box-shadow: 0 0 20px rgb(11, 71, 234);
    box-shadow: #004791;
}
.day + #currentDay {
    background-color: green;
}
.event {
    font-size: 10px;
    padding: 3px;
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 45px;
    height: 20px;
}
.eventholder {
    font-size: 10px;
    padding: 3px;
    background-color: #003C7F;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: auto;
    text-align: center;
}
.padding {
    cursor: default !important;
    background-color: #003C7F !important;
    box-shadow: none !important;
}
.modal-active {
    visibility: visible;
    opacity: 1;
}

#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #003C7F;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}
#eventTitleInput, #eventTitleInput1 {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
    border: 2px solid red;
}
#cancelButton, #deleteButton {
    background-color: #004591;
}
#saveButton, #closeButton {
    background-color: #00488D;
}
#eventText {
    font-size: 14px;
}
#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}
#event-button {
    background-color: #004E90;
    display: flex;
    justify-content: left;
    margin: 5px;
    font-size: x-small;
}
.select{
    width: 100%;
}
.aranjament {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
